# Dev folders.
build/
dist/
*.egg-info/

scratch/

# these pycache folders are all over the place.
__pycache__/
*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*.pyc

# vim temp buffers:
*.swp
junk/
old/

# debug files
log.txt

# local project config (secrets)
.config/

# stop tracking the .old stuff
*.old

# WORKING PROJECTS
robin.py
